 .tela{

        width: 80%;
        height: 36rem;
        background: #d8c2c247;
        border-radius: 1em;
        margin: 15px;
        overflow: scroll;
        overflow-x: hidden;

      }
      .rcorners1 {
       border-radius: 25px;
      color: white;
       background-color:#034752;
       width:200px;
       margin-right:5px;
       margin-top:5px;
       float:left;
       padding: 4px;
       border-bottom-right-radius: 0px;

     }
     .rcorners2 {
      border-radius: 25px;

      border-bottom-left-radius: 0px;
      background-color:#a3a2f1;
      width:200px;
      margin-left:5px;
      margin-top:5px;
      float:left;
      padding: 4px;

    }

    .tela::-webkit-scrollbar-track {
      background-color: #F4F4F4;
    }
    .tela::-webkit-scrollbar {
      width: 6px;
      background: #F4F4F4;
    }
    .tela::-webkit-scrollbar-thumb {
      background: #dad7d7;
    }
    .orcamento{
      
      border-radius: 10px;
      border-bottom-left-radius: 0px;
      background-color:#a3a2f1;
      width:200px;
      margin-left:5px;
      margin-top:5px;
      float:left;
      padding: 4px;

    }
    div.b {
      word-wrap: break-word;
    }