$theme-colors: (
  "primary": #034752,
  "secundary": #15e06e

);



$modal-content-bg: white;
$input-border-radius: 10rem;
$btn-border-radius: 10rem;

@import "../node_modules/bootstrap/scss/bootstrap";

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
.main-form {
	width: 450px;
	margin: auto;
}

