$theme-colors: (
  "primary": #034752,
  "secundary": #15e06e

);



$modal-content-bg: white;
$input-border-radius: 10rem;
$btn-border-radius: 10rem;

@import "../node_modules/bootstrap/scss/bootstrap";


.main-form {
	width: 450px;
	margin: auto;
}

